@import url(./resetCss.css);
/* ------------------------------------------------------------Шрифты------------------------------------------------------------ */
@font-face {
    font-family: 'SF Pro Display Black';
    src: url(./../assets/fonts/SF-Pro-Display-Black.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SF Pro Display Bold';
    src: url(./../assets/fonts/SF-Pro-Display-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SF Pro Display Light';
    src: url(./../assets/fonts/SF-Pro-Display-Light.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SF Pro Display Medium';
    src: url(./../assets/fonts/SF-Pro-Display-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SF Pro Display Regular';
    src: url(./../assets/fonts/SF-Pro-Display-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SF Pro Display Semibold';
    src: url(./../assets/fonts/SF-Pro-Display-Semibold.ttf);
    font-style: normal;
    font-weight: normal;
}
/* ------------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------Размер Иконок------------------------------------------------------------ */
.accountIcons{
    height: 34px;
    width: 34px;
}
.dropDownIcons{
    width: 12px;
    height: 7.41px;
}
.firstScreen__img{
    width: 706px;
    height: 516px;
}
.all__block__24hoursIcons{
    width: 69px;
    height: 69px;
}
.all__block__calendarIcons{
    width: 68px;
    height: 68px;
}
.all__block__insuranceIcons{
    width: 76px;
    height: 74px;
}
.all__block__labIcons{
    width: 73px;
    height: 73px;
}
.all__block__butterflyIcons{
    width: 96px;
    height: 96px;
}
.conditions__all__service__phone{
    width: 264px;
    height: 474px;
}
/* ------------------------------------------------------------------------------------------------------------------------ */

body{
    background-color: #ffffff;
    /* background-color: #4e4d53a1; */
    
    font-size: 18px;
}

/* ------------------------------------------------------------Header------------------------------------------------------------ */
.header, .header__menu, .header__profile {
    display: flex;
    align-items: center;
    
}
.header{
    justify-content: space-between;
    
    font-family: 'SF Pro Display Light';
    height: 80px;
    
    background-color: #ffffff;

    margin: auto 138px;
}

.header__menu{
    gap: 59px;
    
    line-height: 21px;
}

.header__menu__item{
    display: flex;
    gap: 11px;
    align-items: baseline;
    
    color: #000000;
}

.menu__item__city, .header__profile{
    font-family: 'SF Pro Display Medium';
}

.header__profile{
    color: #0D1C41;
    gap: 12px;
}
/* ------------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------FirtsScreen------------------------------------------------------------ */
.firtsScreen{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    height: 500px;

    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
    border-radius: 30px;
    
    margin: 30px 138px 0;
}

.firstScreen__all{
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 124px 0 64px 98px;

    font-family: 'SF Pro Display Regular';
}

.firstScreen__all__heading{
    font-size: 2em;
    color: #0D1C41;
}

.all__heading__span{
    text-transform: uppercase;
    font-family: 'SF Pro Display Semibold';
}

.firstScreen__all__note{
    color: #939CA6;
    font-size: 0.9em;
    width: 500px;
}

.firstScreen__all__btn{
    margin-top: 68px;
    padding: 20px 75px;
    width: 265px;

    text-transform: uppercase;

    border: 1px solid #4A607A;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 6px;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* ---------------------------------------------------О страховании--------------------------------------------------------------------- */
.insurance{
    margin-top: 108px;
    margin: 108px 100px 0;
    
    height: 322px;
}

.insurance__all{
    display: flex;
    justify-content: space-evenly;
    /* gap: 35px; */
    
    margin-top: 49px;
}

.insurance__heading, .conditions__heading{
    text-align: center;
    font-size: 2.7em;
    font-family: 'SF Pro Display Medium';
}

.insurance__all__block{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;

    width: 165px;
    height: 216px;
    background-color: #DDD0A4;
    border-radius: 20px 20px 20px 20px;

    font-size: 0.8em;
    font-family: 'SF Pro Display Semibold';
}

.insurance__all__block__note{
    color: #ffffff;
}

.all__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
    
    width: 165px;
    height: 190px;
    background-color: #ffffff;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 20px;
}

.all__block__note{
    text-align: center;
    font-family: 'SF Pro Display Light'
}

.all__block__note__span{
    font-family: 'SF Pro Display Medium';
}
/* ------------------------------------------------------------------------------------------------------------------------ */

/* ----------------------------------------------------Условия-------------------------------------------------------------------- */
.conditions{
    display: flex;
    flex-direction: column;

    margin-top: 109px;
}

.conditions__all{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.conditions__all__chapterOne{
    display: flex;
    align-items: center;
    gap: 77px;
}

.conditions__all__doctors{
    display: flex;
    flex-direction: column;
}

.conditions__all__doctors__heading, .conditions__all__protection__heading{
    font-size: 3.6em;
    font-family: 'SF Pro Display Medium';
}

.conditions__all__doctors__note{
    font-size: 1.3em;
    width: 344px;
}

.all__doctors__note__span{
    font-family: 'SF Pro Display Semibold';
}

.conditions__all__chapterTwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conditions__all__service{
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-right: 300px;
}

.conditions__all__service__heading{
    display: flex;
    align-items: center;
    gap: 27px;
    
    font-size: 1.6em;
    font-family: 'SF Pro Display Semibold';
}

.conditions__all__service__note{
    font-size: 1.3em;
    width: 366px;
}

.conditions__all__service__img{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.conditions__all__service__line{
    position: absolute;
    bottom: 0;

    width: 351px;
    border: 5px solid black;
    border-radius: 15px;
}

.conditions__all__chapterThree{
    display: flex;
    align-items: center;
    gap: 94px;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
